@import "fonts.scss";
@import "mixins.scss";
@import "vars.scss";

.page {
  height: 100%;
  font-size: 11px;
  font-family: "Lato", "Arial", sans-serif;
  line-height: 14px;
  background-color: $basic-black;
}

canvas {
  border-bottom: 1px solid $basic-light-grey;
}

#item-1 {
  cursor: none;
}

#item-2 {
  background-color: black;
}

